.results {
  position: relative;
  margin-left: 20px;

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
  }

  & p {
    font-size: 1.7rem;
    margin: 15px 0;
  }

  & ul.hidden {
    display: none;
  }

  &__title {
    font-size: 2.8rem;
    color: $black;
    margin-bottom: 10px;
  }
}
