html {
  max-width: 100%;
  font-size: 10px;
  font-family: $font-main;
  color: $black;
}

h1 {
  font-family: elianto;
  position: relative;
  width: fit-content;
  padding: 15px;
  padding-top: 25px;
  border: 3px solid $black;
  border-bottom: none;
  font-size: 7rem;

  text-transform: uppercase;
  letter-spacing: 2px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: 44px;
    height: 3px;
    background-color: $black;
  }
  &::before {
    left: 308px;
  }
}

h2 {
  font-size: 3rem;
}
//Utilities and support styles
.hidden {
  display: none;
}

.container {
  position: relative;
  display: flex;
}
